
.tp-wrapper {
    -webkit-perspective: 900px;
            perspective: 900px;
            
            
  }
  
  .tp-box {
    position: relative;
    width: 395px;
    height: 445px;
    margin:1rem auto;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform         : transform 1s;
        -ms-transform         : transform 1s;
            transform         : transform 1s;
  }
  .tp-box__side {
     width: 100%;
     height: auto;
     position: absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    color: #fff;
    text-align: center;
    /* line-height: 100px; */
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tp-box__front {
    background:#f3f1ea;
    border-radius: 25px;
    -webkit-transform : rotateY(0deg);
    -ms-transform     : rotateY(0deg);
    transform         : rotateY(0deg);
  }
  .tp-box__back {
    background: #f3f1ea;
    border-radius: 25px;
    -webkit-transform : rotateY(-180deg);
    -ms-transform     : rotateY(-180deg);
    transform         : rotateY(-180deg);
  }
 .btn{
    
    /* padding: .84rem 2.14rem; */
    background-color: #880e4f!important;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px #880e4f;
    padding:5px;
    margin-bottom: 10px;
    
    
}

img{
    width: 183px;
    height: 165px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 10px;
    
   
}
.gradient{
    background: linear-gradient(20deg,#673ab7,#e91e63)!important;
    padding:5px;
    margin-bottom: 10px;
}
.gradient h6{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
ul{
    border-bottom: 1px solid #9c9c9c;
}
li a{
     color:#222;
    border:1px solid #9c9c9c;
}
li a:hover{
    color: #222;
    border:1px solid #9c9c9c;
}
.font-weight-bold{
    color: #222;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing:1px;
    margin-top: 10px;
}

.loc{
    color:#222;
    font-weight:500;
}
.fa {
    padding: 20px;
    font-size: 19px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-whatsapp {
    background: #25d366;
    color: white;
  }
  .fa-youtube {
    background: #ed302f;
    color: white;
  }
  .fa-instagram {
    background: rgb(43, 15, 107);
    color: white;
  }
  .socialdiv{
      padding:0px 5px 12px 36px;
  }